* {
    font-family: sans-serif;
    margin: 0px;
}

/* 
    Colors:
    #AC00DC
    #1C00DB
    #DB002B
*/

body {
    background-color: #AC00DC;
}

header {
    background-color: #AC00DC;
    padding: 10px;
    text-shadow: white 2px 2px;
}

nav {
    display: flex;
    background-image: linear-gradient(#AC00DC, #DB002B);
    padding: 5px;
    justify-content: space-evenly;
}

.dj-img {
    width: 40%;
    filter: opacity(75%);
    float: left;
}

main {
    width: 60%;
    float: right;
}

.box-1 {
    background-color: #DB002B;
    border-bottom: #1C00DB 3px dotted;
    padding: 10px;
}

.box-2 {
    background-image: linear-gradient(#DB002B, #1C00DB);
    padding: 10px;
}

.box-3 {
    height: 250px;
    background-color: #1C00DB;
    border-top: #DB002B 3px dotted;
    padding: 10px;
}

button {
    background-color: #DB002B;
    font-size: xx-large;
    color: white;
    border-radius: 15px;
    margin-top: 50px;
}

button:hover {
    background-color: red;
    font-size: xx-large;
    color: white;
    border-radius: 15px;
    border: white 4px solid;
}

footer {
    width: 100%;
    height: 5%;
    background-color: #AC00DC;
    border-top: black 4px solid;
    display: flex;
    align-items: center;
    position: fixed;
    top: 95%;
}

nav > a {
    width: 15%;
    font-size: x-large;
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

h2, p {
    color: white;
    text-shadow: black 2px 2px;
}

p {font-size: 20px;}